.menu {
  padding: 100px 0 0  0;
  width: 75%;
  text-align: left;
  img {
    width: 300px;
  }
  div{
    text-align: left;
    margin: 10px auto;
    p{
      font-size: 18px;
      margin: 20px 0;
    }
  }
  p{
    margin-top: 200px;
  }
}
